* {
    margin: 0;
    padding: 0;
    font-family: "cour", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "cour";
    src: url(./fonts/cour.ttf);
}

.inner-header {
    width: 100%;
    height: auto;
    min-height: 80vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.inner-header .container {
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: auto;
    margin: 10px;
    width: 10%;
}

.inner-header h1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 2.5rem;
    width: 100%;
    max-width: 100%;
    padding-right: 0rem;
}

.nav {
    display: flex;
    width: 100%;
    height: 50px;
    display: block;
    background-color: #24252a;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   color: white;
   list-style-type: none;
   font-size: 20px;
   height: 100%;
   padding: 13px;
}

a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color:#d3d3d3;
    display: block;
    transition: .5s ease-in-out;
}

a:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color:#d3d3d3;
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.body-background-img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1px;
    min-height: auto;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card {
    width: 100%;
    height: auto;
   color: white;
}

.box {
    width: 270px;
    height: 500px;
    border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   border-color: white;
   margin: 50px;
   padding: 18px;
   flex: 0 0 400px;
   transform: translate(0px);
    transition: 1.1s all;
}

.box:hover {
    box-shadow: 6px 6px 40px 10px #d3d3d3;
    transform: translate(20px);
}

.box-images {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #d3d3d3;
}

h3 {
    margin: 0;
    padding: 1px;
}

.footer{
    color: white;
    background-color: #24252a;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

h2,
ul {
    width: 15%;
    height: auto;
    margin-left: 30px;
    text-align: left;
    line-height: 4vh;
}

/*About-Me*/

.am-header {
    width: 100%;
    padding: 10px;
    display: block;
    background-color: #24252a;
    color: white;
}

.am-nav-links {
    margin: 5px;
    padding: 5px;
}

.am-title-image {
    margin-top: -100px;
    display: flex;
    justify-content: center;
}

.am-h2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.am-image {
    margin-bottom: 20px;
    margin-top: 150px;
    width: auto;
    height: 300px;
    border-style: solid;
    border-radius: 45px;
}

.am-card {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.am-box {
    border-style: solid;
    border-radius: 40px;
    margin: 100px;
    padding: 25px;
    line-height: 2.5em;
}

.list-items {
    width: 100%;
    height: auto;
    margin: 40px;
    text-align: left;
}

.am-footer {
    width: 100%;
    height: auto;
    display: block;
    background-color: #24252a;
}

.footer-title {
    display: flex;
    justify-content: left;
    margin-left: 40px;
    padding: 10px;
    color: white;
}

.am-contact {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-left: 15px;
    padding: 5px
}

@media screen and (max-width: 768px) {
    main, .nav {
        flex-direction: column;
    }
    
}