* {
    margin: 0;
    padding: 0;
    font-family: "cour", sans-serif;
    box-sizing: border-box;
}

/*Custom-Font*/

@font-face {
    font-family: "cour";
    src: url(./fonts/cour.ttf);
}

/*Header*/

.inner-header {
    width: 100%;
    height: auto;
    min-height: 60vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.inner-header .container {
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: auto;
    margin: 10px;
    width: 10%;
}

.inner-header h1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 2.5rem;
    width: 100%;
    max-width: 100%;
    padding-right: 0rem;
}

/*Nav-Bar*/

.nav {
    display: flex;
    width: 100%;
    height: 50px;
    display: block;
    background-color: #24252a;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   color: white;
   list-style-type: none;
   font-size: 20px;
   height: 100%;
   padding: 13px;
}

/*Underline-Hover-Effects*/

a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color:#d3d3d3;
    display: block;
    transition: .5s ease-in-out;
}

a:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color:#d3d3d3;
    display: block;
}

/*Main-Body*/

main {
    display: flex;
    flex-wrap: wrap;
}

.body-background-img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1px;
    min-height: auto;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    height: auto;
   color: white;
}

.box {
    width: 270px;
    height: auto;
    border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   border-color: white;
   margin: 50px;
   padding: 18px;
   transform: translate(0px);
    transition: 1.1s all;
}

/*Box-Hover-Effect*/

.box:hover {
    box-shadow: 6px 6px 40px 10px #d3d3d3;
    transform: translate(20px);
}

.box-images {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #d3d3d3;
}

h3 {
    margin: 0;
    padding: 1px;
}

/*Footer*/

.footer{
    color: white;
    background-color: #24252a;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.p-contact {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-left: 35px;
    padding: 5px
}

h2 {
    width: 15%;
    height: auto;
    margin-left: 30px;
    text-align: left;
    line-height: 4vh;
}

@media screen and (max-width: 768px) {
    main, .nav {
        flex-direction: column;
    }
    
}