* {
    margin: 0;
    padding: 0;
    font-family: "cour", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "cour";
    src: url(./fonts/cour.ttf);
}

.inner-header {
    width: 100%;
    height: auto;
    min-height: 80vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.inner-header .container {
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: auto;
    margin: 10px;
    width: 10%;
}

.inner-header h1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 2.5rem;
    width: 100%;
    max-width: 100%;
    padding-right: 0rem;
}

.nav {
    display: flex;
    width: 100%;
    height: 50px;
    display: block;
    background-color: #24252a;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   color: white;
   list-style-type: none;
   font-size: 20px;
   height: 100%;
   padding: 13px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.body-background-img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1px;
    min-height: auto;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.card {
    width: 100%;
    height: auto;
   color: white;
}

.box {
    width: 270px;
    height: 500px;
    border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   border-color: white;
   margin: 50px;
   padding: 18px;
   flex: 0 0 400px;
}

.box-images {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: #d3d3d3;
}

h3 {
    margin: 0;
    padding: 1px;
}

.footer{
    color: white;
    background-color: #24252a;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

h2,
ul {
    margin: 0;
    text-align: center;
}

/*About-Me*/

.am-header {
    width: 100%;
    padding: 10px;
    display: block;
    background-color: #24252a;
    color: white;
}

.am-title-image {
    margin-top: -100px;
    display: flex;
    justify-content: center;
}

.am-h2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.am-image {
    margin-bottom: 20px;
    margin-top: 150px;
    width: auto;
    height: 300px;
    border-style: solid;
    border-radius: 45px;
}

.am-card {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.am-box {
    border-style: solid;
    border-radius: 40px;
    margin: 100px;
    padding: 25px;
    line-height: 2.5em;
}


@media screen and (max-width: 768px) {
    main, .nav {
        flex-direction: column;
    }
    
}